monty
a.out
bytecodes-00.m
bytecodes-01.m
bytecodes-02.m
bytecodes-03.m
bytecodes-04.m
bytecodes-05.m
bytecodes-06.m
bytecodes-07.m
bytecodes-08.m
bytecodes-09.m
bytecodes-10.m
bytecodes-11.m
bytecodes-12.m
bytecodes-13.m
bytecodes-14.m
bytecodes-denied.m
